kxFePnfB6fZkREtg.json
{
  "active": false,
  "connections": {
    "Container HTTP Image": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container HTTP Reels": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container FB Image": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container FB Story Image": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container HTTP Story Image": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container FB Reels": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container HTTP Story Video": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container FB Story Video": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container Carousel Image 1": {
      "main": [
        [
          {
            "node": "Container Carousel Image 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container Carousel Image 2": {
      "main": [
        [
          {
            "node": "Container HTTP Carousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container HTTP Carousel": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Is Container Ready?": {
      "main": [
        [
          {
            "node": "🔀 HTTP vs FB API Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏰ Retry Wait Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 HTTP vs FB API Router": {
      "main": [
        [
          {
            "node": "📤 Publish via HTTP API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Publish via Facebook SDK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Initial Processing Wait": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Retry Wait Loop": {
      "main": [
        [
          {
            "node": "🔍 Check Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Processing Status": {
      "main": [
        [
          {
            "node": "⏰ Initial Processing Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Smart Content Router": {
      "main": [
        [
          {
            "node": "Container HTTP Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container FB Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container HTTP Story Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container FB Story Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container HTTP Story Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container FB Story Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container HTTP Reels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container FB Reels",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Container Carousel Image 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Configure Post Settings": {
      "main": [
        [
          {
            "node": "🔀 Smart Content Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Processing Status1": {
      "main": [
        [
          {
            "node": "✅ Is Container Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Manual Trigger - Start Workflow": {
      "main": [
        [
          {
            "node": "⚙️ Configure Post Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-06T14:55:18.123Z",
  "id": "kxFePnfB6fZkREtg",
  "isArchived": false,
  "meta": null,
  "name": "post media IG (original)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.node }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.image_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        260
      ],
      "id": "b5aabd58-f3d8-43f9-9326-8548cfe91164",
      "name": "Container HTTP Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.node }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "=REELS"
            },
            {
              "name": "video_url",
              "value": "={{ $json.video_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            },
            {
              "name": "cover_url",
              "value": "={{ $json.cover_image }}"
            },
            {
              "name": "audio_name",
              "value": "Monody (feat. Laura Brehm)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        1520
      ],
      "id": "09d23ea5-54d9-45ac-9423-0f8d919651ad",
      "name": "Container HTTP Reels"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.node }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $json.caption }}"
              },
              {
                "name": "image_url",
                "value": "={{ $json.image_url }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2100,
        440
      ],
      "id": "175c54ab-2a3c-4fe1-9518-fef503afb22e",
      "name": "Container FB Image"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.node }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $json.caption }}"
              },
              {
                "name": "image_url",
                "value": "={{ $json.image_url }}"
              },
              {
                "name": "media_type",
                "value": "STORIES"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2100,
        860
      ],
      "id": "9441354d-81a5-41ad-b55c-657f81264077",
      "name": "Container FB Story Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.node }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "=STORIES"
            },
            {
              "name": "image_url",
              "value": "={{ $json.image_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        700
      ],
      "id": "62e4e51b-7bb2-4ffc-bf8e-d681452b0c6d",
      "name": "Container HTTP Story Image"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "=17841456545908024",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $json.caption }}"
              },
              {
                "name": "video_url",
                "value": "={{ $json.video_url }}"
              },
              {
                "name": "media_type",
                "value": "REELS"
              },
              {
                "name": "cover_url",
                "value": "={{ $json.cover_image }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2100,
        1660
      ],
      "id": "79216ebe-2b22-44f0-832d-80dbab1ea6e0",
      "name": "Container FB Reels"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.node }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "=STORIES"
            },
            {
              "name": "video_url",
              "value": "={{ $json.video_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        1120
      ],
      "id": "76cfa67e-7c6c-4d04-bf72-0814c313084f",
      "name": "Container HTTP Story Video"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.node }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "video_url",
                "value": "={{ $json.video_url }}"
              },
              {
                "name": "media_type",
                "value": "STORIES"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2100,
        1280
      ],
      "id": "54ffc3f0-16f7-45c0-895d-886c2c7253af",
      "name": "Container FB Story Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.node }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.image_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        1920
      ],
      "id": "aa3148cf-2ec5-4db3-b20f-aca4f496c54f",
      "name": "Container Carousel Image 1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('🔀 Smart Content Router').item.json.node }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "=https://4.img-dpreview.com/files/p/TC190x190S190x190~sample_galleries/0890568360/4504013564.jpg"
            },
            {
              "name": "caption",
              "value": "={{ $('🔀 Smart Content Router').item.json.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        1920
      ],
      "id": "3ee10497-d468-4798-87f1-51cb8b9a885f",
      "name": "Container Carousel Image 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('🔀 Smart Content Router').item.json.node }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "children",
              "value": "={{ $('Container Carousel Image 1').item.json.id }}, {{ $json.id }}"
            },
            {
              "name": "caption",
              "value": "={{ $('🔀 Smart Content Router').item.json.caption }}"
            },
            {
              "name": "media_type",
              "value": "CAROUSEL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        1920
      ],
      "id": "38598329-3822-4696-a72b-69eaa3e02368",
      "name": "Container HTTP Carousel"
    },
    {
      "parameters": {
        "content": "## 📸 Image Post Creation",
        "height": 420,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1960,
        200
      ],
      "id": "140709bb-edd4-4690-bc30-5cc294688445",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 📱 Story Image Upload",
        "height": 380,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1960,
        640
      ],
      "id": "0940dc01-a6be-44e5-90af-b508d63e7e2c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🎬 Story Video Upload",
        "height": 380,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1960,
        1040
      ],
      "id": "315c87ac-9466-4680-9532-db11f1141bbf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 🎵 Instagram Reels Upload",
        "height": 380,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1960,
        1440
      ],
      "id": "9764f42f-0d95-48e7-84cb-9199a99417a7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 🖼️ Carousel Post (Multiple Images)",
        "height": 220,
        "width": 860
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1500,
        1860
      ],
      "id": "5ad920fe-76a9-432b-8e04-6ff75c83face",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Variable and Routing Setup",
        "height": 640,
        "width": 840,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        920,
        800
      ],
      "id": "da8369c3-c887-4d33-9fb4-fcd5adbabf8a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## 🔄 Container Processing Pipeline\n1. **Create Container** → After Getting Container ID\n2. **Wait & Poll** → Check if container processing is complete  \n3. **Status Check** → Verify FINISHED status before publishing\n4. **Auto-Retry** → If not ready, wait and check again",
        "height": 540,
        "width": 1140,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        800
      ],
      "id": "25a2f0b9-e05e-4d25-b645-b1d910777477",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## 📤 Smart Publishing System\nRoute automatically selected based on post_type prefix:\n- http_* → Uses HTTP Request nodes\n- fb_* → Uses Facebook Graph API nodes",
        "height": 540,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3640,
        800
      ],
      "id": "b2df6247-304b-4f94-8306-499ef14bd802",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "682def4c-2cda-4417-9329-682a8a60feed",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3140,
        940
      ],
      "id": "991cefd5-4194-488b-8186-a989a417cc1a",
      "name": "✅ Is Container Ready?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da6bcb63-632a-443a-b5b3-a8b6e1c62871",
              "leftValue": "={{ $('🔀 Smart Content Router').item.json.post_type.split(\"_\")[0] }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3740,
        1040
      ],
      "id": "89264eec-27da-4454-bce8-c3c91e58a4dd",
      "name": "🔀 HTTP vs FB API Router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('🔀 Smart Content Router').item.json.node }}/media_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3960,
        940
      ],
      "id": "b16d22e7-d6c8-46d7-a726-10d07f599d7d",
      "name": "📤 Publish via HTTP API"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('🔀 Smart Content Router').item.json.node }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        3960,
        1140
      ],
      "id": "01363d4c-55d9-4991-aa1d-54ce0db3489e",
      "name": "📤 Publish via Facebook SDK"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2700,
        1020
      ],
      "id": "89c841a9-e321-46a5-a7eb-598083b4faa0",
      "name": "⏰ Initial Processing Wait",
      "webhookId": "443f84eb-1e9d-4c77-9a9a-c70290333dca"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3360,
        1120
      ],
      "id": "4bdd7232-6ff7-4a81-a038-210a09c95783",
      "name": "⏰ Retry Wait Loop",
      "webhookId": "e9ac0c1d-b415-4160-a6b1-908d2310cb23"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37f96da8-a8b6-417b-b5cf-7a4df5b4610c",
              "name": "container_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        1020
      ],
      "id": "17d38d67-76e3-42d2-9454-8b5a92f422be",
      "name": "🔍 Check Processing Status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ab388a77-1660-4a64-ba58-bc405444dbd5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP - Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be8816f5-ae68-48c3-869e-bc67078298d8",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "663bacc8-ceeb-4f81-b058-c379eaf6e717",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_story_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP - Story Img"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "99441a51-906e-469a-b98e-64aa43c996ba",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_story_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Story Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "29cfc5f8-e1ae-4c10-8961-2356d7c13195",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_story_video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP = Story Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "578f5df3-23ef-4ef3-9a48-7528c826ea46",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_story_video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Story Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25e31619-4116-46e0-bfcb-a8d8a030fa68",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP - Reels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf34e931-f798-4c70-af29-9aec7aab8f6c",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_reel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Reels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "02944863-db4b-445f-9c03-382abd9525b9",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "http_carousel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTTP - Carousel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0a17aaa0-8520-442f-9c3f-b4112339a08c",
                    "leftValue": "={{ $json.post_type }}",
                    "rightValue": "fb_carousel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB - Carousel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1440,
        920
      ],
      "id": "98a5e7ee-0e79-4485-91f1-32eed0a6bf93",
      "name": "🔀 Smart Content Router"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "217b69e3-98ec-49a2-8fde-372dd1bc1848",
              "name": "node",
              "value": "17841440218946263",
              "type": "string"
            },
            {
              "id": "2caebe7c-a2d3-428e-b129-fcfbe66854e5",
              "name": "post_type",
              "value": "http_image",
              "type": "string"
            },
            {
              "id": "a17a5c94-d9ae-44f8-9d56-fb55d17efe5a",
              "name": "image_url",
              "value": "https://res.cloudinary.com/dw50nhs2a/image/upload/v1751170645/nak7ugwn4n9mt8a9gezv.jpg",
              "type": "string"
            },
            {
              "id": "6e2c9c54-ce2c-4ea5-8bb2-ae2ae4712427",
              "name": "caption",
              "value": "Automated Post",
              "type": "string"
            },
            {
              "id": "32aa1561-458c-4f64-a854-eab65f9ad1dd",
              "name": "video_url",
              "value": "https://res.cloudinary.com/dw50nhs2a/video/upload/v1751290297/o2tazrtrwdnuxq5cswqx.mov",
              "type": "string"
            },
            {
              "id": "c6485101-488b-43db-8708-1a1136292956",
              "name": "cover_image",
              "value": "https://res.cloudinary.com/dw50nhs2a/image/upload/v1751170645/d3wvpz3imu9xsc6qssgk.jpg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        1060
      ],
      "id": "d816b756-61e8-4947-acdc-d28189fb0ddf",
      "name": "⚙️ Configure Post Settings"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $('🔍 Check Processing Status').item.json.container_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status_code"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2920,
        1020
      ],
      "id": "237c6fc3-7eed-4692-8e6a-05d9b14b86f2",
      "name": "🔍 Check Processing Status1"
    },
    {
      "parameters": {
        "content": "## 👨‍💻 Creator Information\n\n**Created by:** Lakshit Ukani  \n🔗 **LinkedIn:** [Connect with me](https://www.linkedin.com/in/lakshit-ukani/)\n🔗 **Youtube:** [Subscribe to my Channel](https://www.youtube.com/@lakshit-ukani?sub_confirmation=1)\n\n### 🤝 Community & Support\n💬 **Join Community:** [Skool Community Link](https://www.skool.com/ai-automation-club-7843)   \n📚 **Documentation:** [Full Guide & FAQ](https://developers.facebook.com/docs/instagram-platform/instagram-graph-api/reference/ig-user/media#creating)  \n\n### 📞 Need Help?\n- **Quick Questions:** Comment on the YouTube video\n- **Workflow Issues:** Post in our community  \n- **Business Inquiries:** Connect via LinkedIn",
        "height": 380,
        "width": 460,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1060,
        180
      ],
      "id": "d34c3015-4b33-4cfe-b6d4-77e907c7b6ff",
      "name": "Sticky Note8"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1000,
        1060
      ],
      "id": "f2e3a9da-9438-46e5-bf8e-301084d27220",
      "name": "🚀 Manual Trigger - Start Workflow"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-07T00:51:54.000Z",
  "versionId": "7cff739a-efa7-49b6-9836-13adab44eb9e"
}