workflows/ijIBpm4Lo29g6ENE.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-06T15:05:16.069Z",
  "id": "ijIBpm4Lo29g6ENE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "3.2. Rep-Mes-Hy.hi",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "da64bda4-efa7-45aa-8b98-7e36d7436840",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -864,
        -96
      ],
      "id": "2a76620a-953d-4178-a8b7-980c270d265c",
      "name": "Webhook",
      "webhookId": "da64bda4-efa7-45aa-8b98-7e36d7436840"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -640,
        -192
      ],
      "id": "04007d44-52c5-4842-9547-c554f29a8a6a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cecce30a-54ed-43ef-8711-9655d7e001e3",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        16
      ],
      "id": "34295a9e-8bbd-4232-b50c-9924cd160a95",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2cbf17a7-7c1c-47eb-95b3-4b60b94b08ec",
              "name": "id Khách Hàng",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "8d22426a-7eb9-4ae0-8a26-617c3c84b710",
              "name": "id Page",
              "value": "={{ $json.body.entry[0].messaging[0].recipient.id }}",
              "type": "string"
            },
            {
              "id": "d4e96a43-a877-448a-980d-d56c22bc2853",
              "name": "Tin nhắn",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        -144
      ],
      "id": "85eb984d-016f-438b-b400-ebecbbe31b5b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst body = {\n  \"recipient\":{\n    \"id\":`${$('Edit Fields').first().json['id Khách Hàng']}`\n  },\n  \"message\":{\n    \"text\":`${$input.first().json.output}`\n  }\n}\nreturn {\n  data: body\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -144
      ],
      "id": "9ee0bca4-5feb-4d6b-ac8a-a99267650aad",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/715058798347416/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAA03CDjumEgBO6gdLB8eRBaT1ebjpvn3GPZANI0YZC5GzxOxJNGtsEx236swV53ASoZBW3v8LkPywnkrZBlUZCYz7UAFW1r7yp4wJnX2pzWENbiZAWxSGLLmaaXJu1hVFt5NP29FINkqGZA9OXiwvAhjomKxllhrLwxcQyDAs9ovlA4p2ORBb1ZCYcc10ZA0MY23Ny1q767KBQ056XckgYyq1"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -144
      ],
      "id": "806b119b-4fc7-4df8-a2ab-25fe85851b49",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst body = {\n  \"recipient\":{\n    \"id\":`${$('Webhook').first().json.body.entry[0].messaging[0].sender.id}`\n  },\n  \"message\":{\n    \"text\":\"Tôi là Ai chatbot, mong anh/chị hãy hỏi về các sản phẩm của shop nhé!\"\n  }\n}\nreturn {\n  data: body\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        160
      ],
      "id": "483fd5a1-039c-4344-aa67-fbbf28578d96",
      "name": "Code1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/715058798347416/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAA03CDjumEgBO6gdLB8eRBaT1ebjpvn3GPZANI0YZC5GzxOxJNGtsEx236swV53ASoZBW3v8LkPywnkrZBlUZCYz7UAFW1r7yp4wJnX2pzWENbiZAWxSGLLmaaXJu1hVFt5NP29FINkqGZA9OXiwvAhjomKxllhrLwxcQyDAs9ovlA4p2ORBb1ZCYcc10ZA0MY23Ny1q767KBQ056XckgYyq1"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        160
      ],
      "id": "214e8f57-7024-4b35-8441-d749f0f74ba7",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Tin nhắn'] }}",
        "options": {
          "systemMessage": "You are a dedicated and professional product consultant specializing in custom-made backpacks, hats, keychains, and embroidered patches, catering to parents and guardians looking for unique, personalized items for children (embroidering names, phone numbers, etc.).\n\nYour mission is to help customers choose suitable products, answer all their questions, and gently encourage purchasing.\n\nQuestion Processing Flow:\n\nCheck Frequently Asked Questions (FAQ):\n\nFirst, search for answers in the 'Trả lời khách' Google Sheet.\nIf a suitable answer is found (exact or similar), use that information to respond. You may combine multiple answers for a more comprehensive and friendly reply.\nRetrieve Product Information:\n\nIf the question relates to specific products (product name, price, promotions, specifications, features, product recommendations...) look up information in the 'Sản phẩm' Google Sheet.\nBased on the retrieved data, advise as a professional salesperson: introduce the product, highlight key advantages, current promotions, and gently encourage the customer to make a suitable purchase decision.\nHandle Special Cases:\n\nIf no data is found in either Google Sheet but the question is still related to the shop's products, you may synthesize information or use general knowledge (if the system allows).\nIf the question is completely unrelated to the shop's products (backpacks, hats, keychains, embroidered patches), please politely reply: \"I'm not familiar with that topic. Please ask about products like backpacks, hats, keychains, or embroidered patches!\"\nCommunication Style:\n\nFriendly, natural, and approachable tone, as if speaking in person (\"Yes, certainly!\", \"Please take a look at this, sir/madam.\", \"This product is very popular right now!\").\nAvoid bullet points or table-like listings. Speak clearly and fluently.\nGently encourage purchasing (\"You might consider this product as it's currently on a great discount!\").\nIf information about the shopping cart, stock availability, or nearest store is available, include it in your advice (\"This item is in stock, would you like to place an order now?\").\"\n\nStrictly adhere to the following rules:\n\nDO NOT hallucinate or fabricate ANY information.\nIf a piece of information (e.g., promotional offers, material composition, specific dimensions like size or weight, technical specifications) is NOT explicitly present in the Google Sheet, state that the information is unavailable or not provided.\nPresent the information clearly and concisely.\nAfter generating the product information, conclude your message with the following exact phrase with font Bold: '#Tôi_Là_ChatbotAI_Của_TiemtheunhaHy'.\"\n\nImportant note: Always respond to customers in Vietnamese."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        112,
        -240
      ],
      "id": "1eed0f22-b13b-4e51-ab6d-8ad5b705834b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -64,
        -16
      ],
      "id": "109893f2-c702-48d4-9061-5dea6692558a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ih6RKcterq0vM0bh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json['id Khách Hàng'] }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        144,
        -16
      ],
      "id": "a6188c35-20f9-439b-895f-0fcd5f3eb635",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9d838ghov9eLIVFC",
          "name": "PSQL-Rep-Mess"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1-F5otzEVulA27zpsvbuogYH22saknum_FmYQikeJKoI",
          "mode": "list",
          "cachedResultName": "Tiệm thêu nhà Hy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-F5otzEVulA27zpsvbuogYH22saknum_FmYQikeJKoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1492494122,
          "mode": "list",
          "cachedResultName": "Sản phẩm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-F5otzEVulA27zpsvbuogYH22saknum_FmYQikeJKoI/edit#gid=1492494122"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        272,
        -16
      ],
      "id": "e04e17d4-5145-403a-b458-480fd95ae6b7",
      "name": "Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "Cmm4QrlNbI2eNQoo",
          "name": "Google Sheets Love"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2ac77cb5-c0f1-4731-8518-fba2bca1f7f8",
              "leftValue": "={{Number((new Date().getTime() - $json.body.entry[0].messaging[0].timestamp) / 1000 )}}\n",
              "rightValue": "={{ Number(120) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        16
      ],
      "id": "14def1bf-03b8-4ab6-9d7f-e1a2d1bdc3e5",
      "name": "If1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1-F5otzEVulA27zpsvbuogYH22saknum_FmYQikeJKoI",
          "mode": "list",
          "cachedResultName": "Tiệm thêu nhà Hy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-F5otzEVulA27zpsvbuogYH22saknum_FmYQikeJKoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1471922413,
          "mode": "list",
          "cachedResultName": "Trả lời khách",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-F5otzEVulA27zpsvbuogYH22saknum_FmYQikeJKoI/edit#gid=1471922413"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        384,
        -16
      ],
      "id": "299c052f-b32f-42a1-bf0c-2274dd4adf05",
      "name": "Google Sheets1",
      "credentials": {
        "googleApi": {
          "id": "Cmm4QrlNbI2eNQoo",
          "name": "Google Sheets Love"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-3.5-turbo-0613",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        48,
        -16
      ],
      "id": "d3174ce4-a898-44df-88f3-d5d3080eb40b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "nERLzlU7ksulhMd2",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-09T23:42:35.000Z",
  "versionId": "9631b733-7c72-42db-a414-b9ef3aed85c1"
}